<section class="section min-vh-100">

  <div class="container px-4 py-2" id="featured-3">
   
    <div class="my-3 p-3 pt-4bg-body rounded shadow-sm ">
      
      <div class="row">
        <div class="col-11">
          <h2 class="pb-2"><%= post.DEPT_NAME%></h2>
        </div>
        <div class="col-1">
          <a href="/career" class="btn">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
      </div>
      <h2 class="border-bottom pb-2"></h2>
      
      <div class="row mb-5">
        <p class="text-end mt-5 px-5">ตำแหน่งงาน <%= post.POS_NAME%></p>

        <p class="text-end px-5">เงินเดือน <%= post.SALARY%></p>
        <div class="col-12 px-5 mt-5">
          <div class="d-flex text-body-secondary pt-3 mt-5">
            <div class="pb-3 mb-0 small lh-sm w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark fs-5">ความชำนาญ</strong>
              </div>
              <span class=""><%= post.SKILL_NAME%></span>
            </div>
          </div>
        </div>  

        <div class="col-12 px-5">
          <div class="d-flex text-body-secondary pt-3 ">
            <div class="pb-3 mb-0 small lh-sm w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark fs-5">การศึกษา</strong>
              </div>
              <span class=""><%= post.STUDY%></span>
            </div>
          </div>
        </div>  

        <div class="col-12 px-5">
          <div class="d-flex text-body-secondary pt-3 ">
            <div class="pb-3 mb-0 small lh-sm w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark fs-5">ประสบการณ์ทำงาน</strong>
              </div>
              <span class=""><%= post.EXP%></span>
            </div>
          </div>
        </div>  

      <div class="col-12 px-5">
        <div class="d-flex text-body-secondary pt-3 ">
          <div class="pb-3 mb-0 small lh-sm w-100">
            <div class="d-flex justify-content-between">
              <strong class="text-gray-dark fs-5">รายละเอียดงาน</strong>
            </div>
            <span class=""><%= post.DETAIL%></span>
        </div>
      </div>  
    </div>  

    <div class="col-12 px-5">
      <div class="d-flex text-body-secondary pt-3 ">
        <div class="pb-3 mb-0 small lh-sm w-100">
          <div class="d-flex justify-content-between">
            <strong class="text-gray-dark fs-5">สวัสดิการ</strong>
          </div>
          <span>
            &nbsp;<br>
            โบนัส<br>
            วันหยุด-วันลาตามกฎหมาย<br>
            ประกันสังคม<br>
            ประกันสุขภาพ<br>
            ค่าล่วงเวลา<br>
            เงินออมพิเศษ เช่น สหกรณ์ออมทรัพย์ กองทุนสำรองเลี้ยงชีพ<br>
            ค่ารักษาพยาบาลบุคคลในครอบครัวของพนักงาน<br>
            เวลาทำงานที่ยืดหยุ่นได้ (Flexible Hour)<br>
            ประกันชีวิต<br>
            เบี้ยขยัน<br>
          </span>
      </div>
    </div> 


      

      <div class="col-12 px-5 mt-5 text-end">
        <a href="/application?application=<%= post.application%>&JOB=<%= post.DEPT_NAME%> " class="btn btn-primary" type="button">สมัครงาน</a>
      </div>

      

  </div>
      
</section>
