<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css" />

<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  form p {
    font-size: 15px;
    /* ปรับขนาดตัวอักษรตามที่ต้องการ */
  }

  #namepo {
    font-size: 22px;
  }
</style>

<div class="container">
  <div class="card-body min-vh-100">
    <div class="py-2 text-center">
    </div>

    <h2 class="border-bottom pb-2">จัดการข้อมูลพนักงาน</h2>

    <section class="py-5 text-center container">

      <div class="col-12">
        <table id="example" class="display nowrap" style="width:100%">
          <thead>
            <tr>
              <th>ไอดี</th>
              <th>ชื่อ</th>
              <th>นามสกุล</th>
              <th>เเผนก</th>
              <th>ตำเเหน่ง</th>
              <th>สถานะ</th>
              <th>เเก้ไข</th>
              <th>รหัสผ่าน</th>
              
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].EMP_ID  %> </td>
              <td><%= data[i].FNAME %> </td>
              <td><%= data[i].LNAME %> </td>
              <td><%= data[i].DEPARTMENT %> </td>
              <td><%= data[i].POSITIONS %> </td>

              <% if (data[i].STATUS == 0) { %>
                <td>ลาออกเเเล้ว</td>
                <% } else if (data[i].STATUS == 1) { %>
                <td>ทำงานอยู่</i></td>
                <% } %>
     
              <td><button id="myBtn" type="button" class="btn btn-warning">Edit</button></td>
              <td><button id="myresetP" type="button" class="btn btn-info">Reset</button></td>
            </tr>
            <% } %>
        </table>
      </div>

      <div class="col-12">
        <div class="modal-content">
          <span class="close">&times;</span>
          <form action="/mange_permission" method="POST">
            <h3>Edit user </h3>
            <p id="namepo" name="ID_NAME" > <%= data[0].POS_NAME  %></p>
            <input type="hidden" id="idpo" name="ID_POS">
    
            <label>ชื่อ:</label>
            <input type="text" id="ch1" name="FNAME"> 
    
            <label>นามสกุล:</label>
            <input type="text" id="ch2" name="LNAME">
    
            <label>เเผนก:</label>
            <select id="ch3" name="DEPARTMENT">
            <option value="department1">Department 1</option>
            <option value="department2">Department 2</option>
          </select>
    
            <label>ตำเเหน่ง:</label>
            <select id="ch4" name="POSITIONS">
            <option value="position1">Position 1</option>
            <option value="position2">Position 2</option>
            </select>
    
            <label>สถานะ:</label>
            <select id="ch5" name="STATUS">
            <option value="status1">ทำงานอยู่</option>
            <option value="status2">ลาออกเเล้ว</option>
           
            </select><br>
            <button id="mysubmit" type="submit" class="btn btn-success">ยืนยัน</button>
          </form>
        </div>
      </div>
      </div>

    </section>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/searchbuilder/1.6.0/js/dataTables.searchBuilder.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>

<script>
  $(document).ready(function() {
    $('#example').DataTable({
      searching: true,
      paging: true,
      info: true,
      ordering: false
    });

  });
</script>

<script>
  var modal = document.getElementById("editdata");
  var btns = document.getElementsByClassName("btn btn-warning");

  var span = document.getElementsByClassName("close")[0];

  for (var i = 0; i < btns.length; i++) {
    btns[i].onclick = function() {
      modal.style.display = "block";
      var namepoElement = this.parentElement.parentElement.getElementsByTagName("td")[0];
      var namepo = namepoElement.innerText;
      document.getElementById("namepo").innerText = namepo;

    }
  }

  $("#mysubmit").click(function(event) {
      var confirmation = confirm("ยืนยันการเเก้ไข");
      if (!confirmation) {
        event.preventDefault();
      }
    });

  span.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>