<section class="section">
  <table style="border: solid 1px; border-collapse: collapse; width: 100%; text-align: center;">
    <thead>
      <tr>
        <th>EMPNO</th>
        <th>EMPNAME</th>
        <th>JOB</th>
        <th>HIREDATE</th>
        <th>MGR</th>
        <th>SAL</th>
        <th>COMMISSION</th>
      </tr>
    </thead>
    <tbody style="border: solid 1px; border-collapse: collapse;">
      <% for (let i = 0; i < post.sql.length; i++) { %>
        <tr style="border: solid 1px; border-collapse: collapse;">
          <td><%= post.sql[i].EMPNO %></td>
          <td><%= post.sql[i].EMPNAME %></td>
          <td><%= post.sql[i].JOB %></td>
          <td><%= post.sql[i].HIREDATE %></td>
          <td><%= post.sql[i].MGR %></td>
          <td><%= post.sql[i].SAL %></td>
          <td><%= post.sql[i].COMMISSION %></td>
          <!-- เพิ่มคอลัมน์อื่น ๆ ตามความต้องการ -->
        </tr>
      <% } %>
    </tbody>
  </table>
    

</section>