<div class="container">
  <section
    class="section Interview min-vh-100 d-flex flex-column align-items-top justify-content-top py-4"
  >
    <div class="container">
      <div class="card mb-3 mt-4">
        <div class="card-body">
              <!-- Alert -->
    <% if (post.create === 'success') { %>
      <div class="alert alert-success" id="success-alert">
        การสร้างบัญชีผู้ใช้สำเร็จ
      </div>
    <% }else if (post.create === 'fail') { %>
      <div class="alert alert-danger" id="success-alert">
        การสร้างบัญชีผู้ใช้ไม่สำเร็จ
      </div>
    <% } %>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const successAlert = document.getElementById("success-alert");

        if (successAlert) {
          setTimeout(function () {
            successAlert.classList.add("show");
          }, 100); 

          setTimeout(function () {
            successAlert.classList.remove("show");
          }, 5000); 
        }
      });
    </script>
          <form action="/inter" method="post">
          <div
            class="mt-4 m-5"
            style="background-color: silver; border-radius: 25px"
          >
          <div class="m-4">
           
            <h5 class="card-title text-left pb-0 fs-4 ">
              สร้างนัดสัมภาษณ์
            </h5>
          
          
           <input  id="INTER_ID" name="INTER_ID" value="<%= post.id %>" hidden>
           <input  id="APPL_ID" name="APPL_ID" value="<%= querys.query %>" hidden >
              <div class="mt-4 pt-4">
                <span class="text-left mt-4 pt-4">วัน/เวลา</span>
                <span class="m-4">
                  <input
                      type="date"
                      id="DAY1ST"
                      name="DAY1ST"
                      required/>
                    <span>
                      <label>กรูณาเลือกช่วงสัมภาษณ์ :</label>
                      <select  name="T1"   required>
                      <option value="" selected>ระบุ</option> 
                      <% post.Range.forEach(range => { %>
                        <option value="<%= range.ID %>"><%= range.RANGE_TIME %></option>
                      <% }); %>
                    </select>
                      </span>
                  </span>
                  <div class="mt-3" style="margin-left: 72px">
                    <input
                      type="date"
                      id="DAY2ND"
                      name="DAY2ND"
                      required/>
                    <span>
                      <label>กรูณาเลือกช่วงสัมภาษณ์ :</label>
                      <select  name="T2" >
                        <option value="" selected>ระบุ</option> 
                        <% post.Range.forEach(range => { %>
                          <option value="<%= range.ID %>"><%= range.RANGE_TIME %></option>
                        <% }); %>
                      </select>
                      </span>
                  </div>
                  <div class="mt-3 text-muted pb-2 " style="margin-left: 82px ">
                    ระบุวันที่ต้องการสร้างนัด 2
                    วันเพื่อให้ผู้รับสัมภาษณ๋เลือกวันที่สะดวก
                  </div></span
                >

                 
                
              <div class="mt-2">
                <span>
                <label>ผู้สัมภาษณ์คนที่ : 1</label>
               
                <select  name="EMP_ID1"   required>
                  <option value="" selected>ระบุ</option> 
                  <% post.all.forEach(interviewer => { %>
                    <option value="<%= interviewer.EMP_ID %>"><%= interviewer.FNAME %> <%= interviewer.LNAME %></option>
                  <% }); %>
                </select>
              </span>
              </div>

              <div class="mt-2">
                <span>
                <label>ผู้สัมภาษณ์คนที่ : 2</label>
                <select  name="EMP_ID2"   required>
                  <option value="" selected>ระบุ</option> 
                  <% post.all.forEach(interviewer => { %>
                    <option value="<%= interviewer.EMP_ID %>"><%= interviewer.FNAME %> <%= interviewer.LNAME %></option>
                  <% }); %>
                </select>
              </span>
             
              </div>
              <div class="mt-2 pb-2">
                <span>
                <label>ผู้สัมภาษณ์คนที่ : 3</label>
                <select  name="EMP_ID3"   required>
                  <option value="" selected>ระบุ</option> 
                  <% post.all.forEach(interviewer => { %>
                    <option value="<%= interviewer.EMP_ID %>"><%= interviewer.FNAME %> <%= interviewer.LNAME %></option>
                  <% }); %>
                </select>
              </span>
             
              </div>
              </div>
              </div>
              </div>
              <div class="m-5"  style="background-color: silver; border-radius: 25px">
                <div class="pt-4"  style="margin-left: 23px;">
                <h5 >รายละเอียดเพิ่มเติม</h5>
              </div>
              <div class=" m-4 pb-4" style=" display: inline-flex; ">
                <span style="margin-right: 10px;">รายละเอียด</span>
                <span>
                <textarea name="INTER_DETAIL" rows="4" cols="50" aria-valuetext=""></textarea>
              </span>
              </div>
             
          </div>
          <div class="mt-2 " style="text-align: right; margin-right: 50px;">
          
            <button type="submit" class="login-st NTN btn-primary" >
              <span class="material-symbols-outlined">
                done
                </span>
                แจ้งนัดสัมภาษณ์งาน
            </button>
          
          </div>
        </div>

      </form>
      </div>
    </div>
  </section>
</div>
