<section class="section">
  <div class="row ">
    <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">สร้างบัญชีผู้ใช้</h5>

        <!-- General Form Elements -->
          <% if (post.create === 'success') { %>
            <div class="alert alert-success" id="success-alert">
              การสร้างบัญชีผู้ใช้สำเร็จ
            </div>
          <% }else if (post.create === 'fail') { %>
            <div class="alert alert-danger" id="success-alert">
              การสร้างบัญชีผู้ใช้ไม่สำเร็จ
            </div>
          <% } %>
          <script>
              document.addEventListener("DOMContentLoaded", function () {
              const successAlert = document.getElementById("success-alert");

              if (successAlert) {
                setTimeout(function () {
                  successAlert.classList.add("show");
                }, 100); 

                setTimeout(function () {
                  successAlert.classList.remove("show");
                }, 5000); 
              }
            });
          </script>
       
          <form action="/welcome" method="post">
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-md-2 col-lx-1  col-form-label" >รหัสพนักงาน</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="EMP_ID" name="EMP_ID" value=<%= post.empID %> readonly>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-md-2 col-lx-1 col-form-label" >ชื่อ</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="FNAME" name="FNAME" required>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-md-2 col-lx-1 col-form-label" >นามสกุล</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="LNAME" name="LNAME" required>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-md-2 col-lx-1 col-form-label" >แผนก</label>
              <div class="col-sm-4">
                <select class="form-select" aria-label="Default select example" id="DEPARTMENT" name="DEPARTMENT" required>
                  <option value="" selected>ระบุ</option> 
                  <% post.dept.forEach(department => { %>
                    <option value="<%= department.DEPT_ID %>"><%= department.DEPT_NAME %></option>
                  <% }); %>
                </select>
              </div>
            </div>
            <div class="row mb-3 ">
              <label class="col-sm-2 col-md-2 col-lx-1 col-form-label" id="POSITIONS">ตำแหน่ง</label>
              <div class="col-sm-4">
                <select class="form-select" aria-label="Default select example" id="POSITIONS" name="POSITIONS" required>
                  <option value="" selected>ระบุ</option> 
                  <% post.posittion.forEach(possit => { %>
                    <option value="<%= possit.POS_ID %>"><%= possit.POS_NAME %></option>
                  <% }); %>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-md-2 col-lx-1 col-form-label" >สิทธิ์ใช้งาน</label>
              <div class="col-sm-4">
                <select class="form-select" aria-label="Default select example" id="PERMISTION" name="PERMISTION" required>
                  <option value="" selected>ระบุ</option> 
                  <% post.role.forEach(roles => { %>
                    <option value="<%= roles.POS_PER_ID %>"><%= roles.POS_PER_NAME %></option>
                  <% }); %>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-md-2 col-lx-1 col-form-label" >ผู้จัดการ</label>
              <div class="col-sm-4">
                <select class="form-select" aria-label="Default select example" id="MGR_ID" name="MGR_ID" required>
                  <option value="" selected>ระบุ</option> 
                  <% post.mgr.forEach(mgrName => { %>
                    <option value="<%= mgrName.MGR_ID %>"><%= mgrName.FNAME %> <%= mgrName.LNAME %></option>
                  <% }); %>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-md-2 col-lx-1 col-form-label" >ชื่อบัญชี</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="USERNAME" name="USERNAME" required>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword" class="col-sm-2 col-md-2 col-lx-1 col-form-label"  >รหัสผ่าน</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="PASS" name="PASS" required>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputDate" class="col-sm-2 col-md-2 col-lx-1 col-form-label" >วันที่เริ่มงาน</label>
              <div class="col-sm-4">
                <input type="date" class="form-control" id="HIREDATE" name="HIREDATE" required>
              </div>
            </div>
            <!-- <div class="row mb-3">
              <label for="inputDate" class="col-sm-2 col-md-2 col-lx-1 col-form-label" >วันที่พ้นสภาพพนักงาน</label>
              <div class="col-sm-4">
                <input type="date" class="form-control" id="EXITDATE" name="EXITDATE">
              </div>
            </div> -->
           
            <div class="row mb-3">
               <div class="col-2 "></div>
                <div class="col-auto ">
                  <button type="submit" class="btn btn-primary" onclick="registor()">Submit Form</button>
                </div>
            </div>

          </form><!-- End General Form Elements -->
        </div>
      </div>
    </div>
  </div>
</section>